<div class="container">
  <div *ngIf="isEdit; then editRecipe; else addRecipe"></div>
  <ng-template #editRecipe>
    <p class="title">Edit Recipe</p>
  </ng-template>
  <ng-template #addRecipe>
    <p class="title">Add Recipe</p>
  </ng-template>

  <form #f="ngForm" [formGroup]="recipeForm" (ngSubmit)="submitForm(f)">
    <!--Title-->
    <div class="field">
      <label for="title" class="label">Title</label>
      <div class="control">
        <input type="text" class="input" formControlName="title" />
      </div>
      <p class="help is-danger" *ngIf="f.submitted && title.invalid">
        Recipe needs a name
      </p>
    </div>

    <div class="columns">
      <!--prepTime-->
      <div class="field column">
        <label for="prepTime" class="label">Prep Time</label>
        <div class="control">
          <input type="text" class="input" formControlName="prepTime" />
        </div>
      </div>

      <!--cooktime-->
      <div class="field column">
        <label for="cookTime" class="label">Cook Time</label>
        <div class="control">
          <input type="text" class="input" formControlName="cookTime" />
        </div>
      </div>

      <!--servings-->
      <div class="field column">
        <label for="servings" class="label">Servings</label>
        <div class="control">
          <input type="text" class="input" formControlName="servings" />
        </div>
      </div>
    </div>

    <!--Image-->
    <div class="field">
      <label for="image" class="label">Image</label>
      <div class="control">
        <input type="text" class="input" formControlName="image" />
      </div>
      <p class="help is-danger" *ngIf="f.submitted && image.invalid">
        Recipe needs an image: image upload coming soon
      </p>
    </div>

    <!--Ingredients-->
    <div class="field">
      <label for="ingredients" class="label">Ingredients</label>
      <div class="control">
        <textarea class="input" formControlName="ingredients"></textarea>
      </div>
      <p class="help is-danger" *ngIf="f.submitted && ingredients.invalid">
        Recipe needs ingredients
      </p>
    </div>
    
    <!--Directions-->
    <div class="field">
      <label for="directions" class="label">Directions</label>
      <div class="control">
        <textarea class="input" formControlName="directions" ></textarea>
      </div>
      <p class="help is-danger" *ngIf="f.submitted && directions.invalid">
        Recipe needs directions
      </p>
    </div>
    
    <h3 class="subtitle is-danger">Comming Soon:</h3>
    <ul>
      <li>ingredient component</li>
      <li>direction component</li>
      <li>image upload feature</li>
    </ul>

    <div class="field">
      <div class="control">
          <button class="button is-success" type="submit">Submit</button>
      </div>
  </div>
  </form>
</div>
