<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">Appetizers</a>
  <a href="#">Breakfast</a>
  <a href="#">Desserts</a>
  <a href="#">Main Dishes</a>
  <a href="#">Salads</a>
  <a href="#">Soups</a>
  <a routerLink="/signin" class="button is-primary">Sign In</a>
  <a routerLink="/register" class="button is-success">Register</a>
</div>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/recipes" style="font-size:30px">
      <!--<img src="images/logo.svg" alt="Recipes" width="112" height="28">-->
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
      Child Family Cookbook
    </a>

    <!--<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>-->
    
  </div>
</nav>

<script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }
  
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
  }
</script>