<div class="container" *ngIf="recipe$ | async as r">
    <img class= "is-2by1" src="{{r.image}}" alt="{{r.title}}">
    <div class="has-text-centered">
        <h1 class="title">{{r.title}}</h1>
        <ul class="cookTime">
            <li ng-hide="r.prepTime == null"><strong>Prep Time:</strong> {{r.prepTime}}</li>
            <li ng-hide="r.cookTime == null"><strong>Cook Time:</strong> {{r.cookTime}}</li>
            <li ng-hide="r.servings == null"><strong>Servings:</strong> {{r.servings}}</li>
        </ul>
    </div>
    <!--populate the list of ingredients-->
    <h3 class="subtitle is-3">Ingredients</h3>
    <p>{{r.ingredients}}</p>
    <!--populate the list of directions-->
    <h3 class="subtitle is-3">Directions</h3>
    <p>{{r.directions}}</p>

    <a routerLink="/recipes/{{r.id}}/edit" class="button pad is-warning">Edit Recipe</a>

</div>
<!--cookTime: String,
    prepTime: String,
    servings: String,-->